*{
	padding: 2;
	margin: 2;
	color: #5EFC8D;
	text-align: center;
}
body{
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	background-size: cover;
}
.main-container{
	border: 4px solid;/*aqui falta el color*/
	border-radius: 10px;
	margin: 2rem;
	font-weight: bold;
}
section{
	align-content: center;
	align-items: center;
	text-align: center;
}
nav, section, footer, article, aside{
	border: 2px /*aqui falta el color*/
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}
.seccion-index{
	width: 1200px;
	border-radius: 10px;
	text-align: center;
	margin-top: 7rem;	

}
.seccion-empresa{

}
header{
	color: #FF0000;
	font-size: 30pt;
}
article{
	width: 400px;
	display: inline-block;
	height: 415px;
	background-color: #84A98C;
	font-size: 15pt;
}
aside{
	background-color:#000000;
	display: inline-block;
	float: right;
}
.navegacion{
	align-items: center;
}
table{
	margin-top: 25px;
	border: 5px solid;
	border-color: #95D9C3;
	border-collapse: collapse;
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
	font color: #744253;
}
tr{
	width: 300px;
}
th{
	width: 200px;
}
strong{
	font-size: 50pt;
}
